/*{
    border:2px grey solid;
}*/
html {
    background-color:rgb(33,39,56);
}
body{
    margin: 40px;
}
.container{
    display: flex;
    justify-content:space-between;
    height: 65vh;
   gap:20vh ;
    padding: 25px;
}
.result{
    border-radius: 8%;
    border:2px rgb(256,232,92) solid;
    flex: 1 ;

}
.choice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn{
    height: 20vh;
    width: 40vh;
    border-radius: 25%;
    border:2px grey solid;
    color: rgb(196, 187, 184);
    font-size:xx-large;
}
.message,.score{
    height: 10vh;   
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: xx-large;
    color: rgb(196, 187, 184);
}